*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header, .container, .header .nav, .header .hero {
    display: flex;
}


.header {
    padding: 20px 200px;
    height: 580px;
    color: white;
    background-color: #1F2937;
    justify-content: center;
}

.container {
    flex-direction: column;
    gap: 30%;
}

.header .nav, .hedaer .hero {
    justify-content: space-between;
}

.header .nav .logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .nav ul {
    display: flex;
    gap: 18px;
}

.header .nav ul li a, .header .hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.header .hero {
    justify-content: space-between;
    gap: 50px;
}

.header .hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .hero h1, .header .hero p {
    margin: 0;
}

.header .hero button {
    background-color: #3B82F6;
    color: #FFFFFE;
    font-weight: 900;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    margin-top: 10px;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info .card-container {
    display: flex;
    gap: 50px;
    padding: 0px 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info .card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .card-container .card .illustration {
    border: 5px solid #367FF5;
    border-radius: 20px;
    width: 160px;
    height: 180px;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    padding: 0 300px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote div {
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 0;
}

.quote b {
    align-self: flex-end;
    font-size: 24px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call .call-card {
    background-color: #3B82F6;
    width: 1000px;
    height: 150px;
    padding: 20px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call .call-card p {
    margin: 0;
    color: white;
}

.call .call-card .emphasis {
    font-size: 24px;
    font-weight: 900;
}

.call .call-card button {
    height: 40px;
    width: 120px;
    background-color: #3B82F6;
    color: white;
    font-size: 16px;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: #1F2937;
    height: 100px;
}