*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header, .container, .header .nav, .header .hero {
    display: flex;
}


.header {
    padding: 20px 200px;
    height: 550px;
    color: white;
    background-color: #1F2937;
    justify-content: center;
}

.container {
    flex-direction: column;
    gap: 30%;
}

.header .nav, .hedaer .hero {
    justify-content: space-between;
}

.header .nav .logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .nav ul {
    display: flex;
    gap: 18px;
}

.header .nav ul li a, .header .hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.header .hero {
    justify-content: space-between;
    gap: 50px;
}

.header .hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .hero h1, .header .hero p {
    margin: 0;
}

.header .hero button {
    background-color: #3B82F6;
    color: #FFFFFE;
    font-weight: 900;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    margin-top: 10px;
    cursor: pointer;
}